<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
Favorite Colors
  <form action="/update2" method="POST">
  <input type="text" value="<%=name%>" name="user">
  <input type="text" value="<%=colors%>" name="colors">
  <input type= "hidden" name="editNum" value= "<%=editNum%>">
